<h1>2014-06-16 12:02 - 192.168.0.1</h1>

<ul class="events">
  <% @events.each do |event| %>
    <li class="container column">
      <span class="time"><%= event.created_at.strftime("%H:%M:%S") %></span> -
      <span class="slug"><%= event.slug %></span>
    </li>
  <% end %>
</ul>
